# created by virtualenv automatically
cookies.pkl
Scripts
Lib
static/data
static/screenshots
static/svgs
pyvenv.cfg
.env
endpoint_test/test_json.json
.idea
__pycache__/
tmp/
core/login/__pycache__/parser.cpython-311.pyc
google-chrome-stable_current_amd64.deb
core/login/__pycache__/parser.cpython-311.pyc
core/old_stash_code/parser.py
core/login/__pycache__/parser.cpython-311.pyc

# Автоматически создаваемые файлы библиотек
downloaded_files/

